body{
  font-family: "Inter";
}
.bg_image {
  background-image: url("/public/assets/images/bg_image.png");
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.heading {
  
  font-size: 4.2rem;
  color: rgba(255, 255, 255, 0.7);
}

.left-side {
  height: 75vh;
}
.product_background{
  background-color: rgba(255, 255, 255, 0.1);
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  backdrop-filter: blur(8px);
}



body {
  background-color: #f2f2f2;
  font-family: 'Georgia', serif;
}

.newspaper-bg {
  background-color: #fffef8;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.font-serif {
  font-family: 'Times New Roman', Times, serif;
}

h4, h5 {
  letter-spacing: 0.5px;
}

a {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
}
